#Ignore folders inside the project directory

working_files
releases

#Ignore common Visual Studio and build artifacts

x64/
.vs/
Debug/

# User-specific files

*.user
*.suo
*.userosscache
*.sln.docstates

# Others

*.log
*.tlog/
*.ipch/
*.VC.db
*.exe
*.dll
*.lib
*.pch